<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Chest X-ray images</div>
    <p>
      It classifies <strong>14</strong> different chest diseases
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <table>
        <tr>
        <th>Label</th>
        <th>Probability</th>
      </tr>
      <tr><td>Atelectasis</td><td><label id='atelectasis'></label></td></tr>
      <tr><td>Cardiomegaly</td><td><label id='cardiomegaly'></label></td></tr>
      <tr><td>Consolidation</td><td><label id='consolidation'></label></td></tr>
      <tr><td>Edema</td><td><label id='edema'></label></td></tr>
      <tr><td>Effusion</td><td><label id='effusion'></label></td></tr>
      <tr><td>Emphysema</td><td><label id='emphysema'></label></td></tr>
      <tr><td>Fibrosis</td><td><label id='fibrosis'></label></td></tr>
      <tr><td>Hernia</td><td><label id='hernia'></label></td></tr>
      <tr><td>Infiltration</td><td><label id='infiltration'></label></td></tr>
      <tr><td>Mass</td><td><label id='mass'></label></td></tr>
      <tr><td>No Finding</td><td><label id='no_Finding'></label></td></tr>
      <tr><td>Nodule</td><td><label id='nodule'></label></td></tr>
      <tr><td>Pleural_Thickening</td><td><label id='pleural_Thickening'></label></td></tr>
      <tr><td>Pneumonia</td><td><label id='pneumonia'></label></td></tr>
      <tr><td>Pneumothorax</td><td><label id='pneumothorax'></label></td></tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>
