<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/newcss.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div class="row">
  <div class="column left" style="background-color:#eeee;">
    <h2>CHEST X-RAY DISEASE DETECTION</h2>
    <p>Chest radiography is the most common imaging examination globally, critical for screening, diagnosis, and management of many life threatening diseases.</p>
    <p>CHEST X-RAY DISEASE DETECTION SYSTEM classifies <strong>14</strong> different chest thoracic patholigies diseases</p>
    <p>Fourteen common thoracic pathologies include <strong>Atelectasis, Consolidation, Infiltration, Pneumothorax, Edema, Emphysema, Fibrosis, Effusion, Pneumonia, Pleural_thickening, Cardiomegaly, Nodule, Mass and Hernia</strong></p>
  </div>


  <div class="column middle" style="background-color:#efed;">
  	<br><br><br><br><br>
  	 <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label' >No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
  </div>



  <div class="column right" style="background-color:#eeee;">
    <h2 style="text-align: center;">Prediction</h2>
    <table>
        <tr>
        <th>Label</th>
        <th>Probability</th>
        <th>Results</th>
      </tr>
      <tr><td>Atelectasis</td><td><label id='atelectasis'>-</label></td><td><label id='a'>-</label></td></tr>
      <tr><td>Cardiomegaly</td><td><label id='cardiomegaly'>-</label></td><td><label id='b'>-</label></td></tr>
      <tr><td>Consolidation</td><td><label id='consolidation'>-</label></td><td><label id='c'>-</label></td></tr>
      <tr><td>Edema</td><td><label id='edema'>-</label></td><td><label id='d'>-</label></td></tr>
      <tr><td>Effusion</td><td><label id='effusion'>-</label></td><td><label id='e'>-</label></td></tr>
      <tr><td>Emphysema</td><td><label id='emphysema'>-</label></td><td><label id='f'>-</label></td></tr>
      <tr><td>Fibrosis</td><td><label id='fibrosis'>-</label></td><td><label id='g'>-</label></td></tr>
      <tr><td>Hernia</td><td><label id='hernia'>-</label></td><td><label id='h'>-</label></td></tr>
      <tr><td>Infiltration</td><td><label id='infiltration'>-</label></td><td><label id='i'>-</label></td></tr>
      <tr><td>Mass</td><td><label id='mass'>-</label></td><td><label id='j'>-</label></td></tr>
      <tr><td>Nodule</td><td><label id='nodule'>-</label></td><td><label id='l'>-</label></td></tr>
      <tr><td>Pleural_Thickening</td><td><label id='pleural_Thickening'>-</label></td><td><label id='m'>-</label></td></tr>
      <tr><td>Pneumonia</td><td><label id='pneumonia'>-</label></td><td><label id='n'>-</label></td></tr>
      <tr><td>Pneumothorax</td><td><label id='pneumothorax'>-</label></td><td><label id='o'>-</label></td></tr>
      </table>
  </div>
</div>
</body>
</html>
